<!--<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 align-self-center text-white" *ngFor="let itemA of dataAbout">
            <h2>
                <i class='{{itemA.icon}} bx-md'></i>
                {{itemA.title}}
            </h2>
            <p>
                {{itemA.descr}}
            </p>
        </div>
    </div>
</div>-->

<div class="container">
    <div>
        <h2 class=" mt-5 fs-1 text-uppercase text-white fst-italic">¿QUIENES SOMOS?</h2>
    </div>
    <div class="card text-white bg-dark border-danger mb-3  " style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-8 ">
                <div class="card-body">
                  <h5 class="card-title fst-italic fs-6 mt-2 ">Gym Style</h5>
                  <p class="card-text mt-5">En Gym Style estamos comprometidos con el buen servicio y atención a nuestros usuarios. Integrado por un equipo de instructores profesionales, Gym Style te brinda el ambiente más agradable para que tu rutina de ejercicios se ajuste a tus necesidades.</p>
                  <p class="card-text">Nos aseguramos de que cuentes con una excelente atención desde que entras hasta que dejas el edificio. Nuestro equipo de profesionales del fitness se compone de instructores certificados que se encuentran siempre a tu disposición. </p>
                </div>
            </div>
          <div class="col-md-4 mt-1">
            <img src="../../../assets/img/imagen card nosotros.png" class="img-fluid rounded-start" alt="...">
          </div>
        </div>
    </div>
  
    <div class="row  g-4 mt-5">
        <div class="col-md-6 col-sm-12"  >
          <div class="card border-light bg-dark text-white" >
            <img src="../../../assets/img/modificado.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title mt-5 fs-5 text-uppercase  fst-italic">MISION</h5>
              <p class="card-text">Brindar al usuario profesionalismo, eficiencia, calidad y excelencia en cada uno de los servicios que les brindamos, así como contar con personal certificado que garantice una experiencia completa de atención personalizada al cliente.</p>
              <p class="card-text">Contar con la mejor calidad en los servicios de maquinaria de gimnasio profesional, con instalaciones adecuadas y brindar clases especializadas a precios accesibles. </p>
              <p class="card-text">Estamos evolucionando en la forma de brindar servicio de gimnasios, ya que nosotros nos enfocamos principalmente en la excelencia de nuestros instructores para garantizar la calidad en los resultados de nuestros usuarios, así como en una impecable limpieza y mantenimiento en nuestro equipo de gimnasio para hacerlos sentir como en casa y brindarles seguridad para desenvolverse y lograr sus metas. </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12" >
          <div class="card border-light bg-dark text-white" style=" height: 585px">
            <img src="../../../assets/img/modificado2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title mt-5 fs-5 text-uppercase  fst-italic">VISION</h5>
              <p class="card-text">Ser una empresa líder en el mercado gracias a sus valores agregados y servicios a ofrecer, ya que la mayoría de los gimnasios carecen de los servicios especializados que nosotros ofrecemos.</p>
              <p class="card-text">Ofrecer certificaciones para instructores basados en la práctica y teoría de formación para instructores profesionales en el área de gimnasios..</p>
  
            </div>
          </div>
        </div>
        <div style="max-width: 100%; height: 100px" ></div>
    </div>
  </div>