<header>
    <app-carrusel [data]="carrusel"></app-carrusel>
</header>
<section class="container mt-4">
    <article class="row justify-content-center">
        <div class="col-md-6 align-self-center mb-5 text-center">
            <h2 class="text-white">Objetivo</h2>
            <h4 class="text-white">
                Educar y desarrollar globalmente la salud de nuestros clientes ha sido la tarea más importante del Gimnasio, asesorar en alcanzar un estilo de vida saludable y trabajar por el bienestar de la globalmente que se encuentra en su entorno inmediato en diferentes clases y rutinas como presenciales o virtuales.
            </h4>
        </div>
    </article>
</section>
