<header>
    <app-carrusel [data]="carrusel"></app-carrusel>
</header>
<div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="#">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="https://images.pexels.com/photos/864939/pexels-photo-864939.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>Yoga</h6>
                                <p>El yoga es una práctica que conecta el cuerpo, respiración y mente. Esta práctica utiliza posturas físicas, ejercicios de respiración y meditación para mejorar la salud general. Prácticas disponibles: Hatha Yoga – Ashtanga Yoga – Meditación – Yoga Nidra</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="#">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="https://images.pexels.com/photos/5750753/pexels-photo-5750753.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" />
                            </div>
                            <div class="text-container">                                    
                                <h6>Boxeo</h6>
                                <p>Libera tensiones y estres, Mejora la resistencia física, Mejora tu salud cardiovascular, Incrementa la mas ósea, Quemas más calorias, Define y tonifica músculos, Mejora tu autoestima, Aumenta los reflejos y Mejora la estabilidad corporal.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="#">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="https://images.pexels.com/photos/4842733/pexels-photo-4842733.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" />
                            </div>

                            <div class="text-container">
                                <h6>Trx</h6>
                               <p>El TRX es un entrenamiento basado en la realización de ejercicios en suspensión, donde las actividades que desempeña el deportista, Desarrollo de la coordinación y el equilibrio, Ayuda a mejorar los problemas de espalda, mejora la resistencia.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-" >
                <a href="#">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="https://image.freepik.com/foto-gratis/joven-sano-atleta-haciendo-ejercicio-cuerdas-gimnasio-modelo-masculino-soltero-practicando-duro-entrenando-parte-superior-cuerpo-concepto-estilo-vida-saludable-deporte-fitness-culturismo-bienestar_155003-27879.jpg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>Entrenamiento funcional</h6>
                               <p>El entrenamiento funcional es una gama de ejercicios físicos que te permiten entrenar tus músculos para trabajar juntos y prepararlos para realizar tareas cotidianas con mayor facilidad y sin lesiones, ya sea en casa, en el trabajo.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14068.42552181403!2d-74.22364176152186!3d4.695785110379917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9d58cf6e291b%3A0x8946ec678fcf04b4!2sSENA%20MOSQUERA%20(CBA)!5e0!3m2!1ses!2sco!4v1617238678124!5m2!1ses!2sco" id="maps" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <div class="col-1"></div>

        <div class="col-12 col-lg-5 mt-5 " style="margin-bottom: 50px;">
            <h1 class="text-white fw-bold fw-normal">CONTACTOS</h1>
            <h3 class="text-white fw-normal"><i class="bi bi-envelope"></i>&nbsp; E-mail: GymStyle's@gmail.com</h3>
            <h3 class="text-white fw-normal"><i class="bi bi-telephone"></i>&nbsp; Telefono: 3004482256</h3>
            <h3 class="text-white fw-normal"><i class="bi bi-geo-alt-fill"></i> &nbsp; Ubicación: CL.17, Mosquera, Cundinamarca.</h3>
        </div>
    </div>
</div>

