<div class="container mt-4" *ngFor="let itemA of dataClases">
    <div class="col-md-12 mb-5">
        <div class="card flip-card" >
            <div class="flip-card-inner">
                <!-- frente de la tarjeta -->
                <div class="flip-card-front">
                    <div class="mask">
                        <div class="align-end">
                            {{itemA.title}}
                        </div>
                    </div>
                    <!-- Imagen frontal -->
                    <img src="{{itemA.img}}" alt="{{itemA.title}}">
                </div>
                <!-- reverso de la tarjeta -->
                <div class="flip-card-back">
                    <div class="row no-gutters">
                        <div>
                            <h5 class="card-title">{{itemA.title}}</h5>
                            
                            <p class="card-text pl-2 mt-4">{{itemA.descripcion}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>


